
    <header>
        <div class="head">
            <img class="img-head" src="../assets/marvel-logo-4.png">
        </div>
    </header>
    <div class="xmen">
        <img class="img-he" src="../assets/x-men.PNG">
    </div>
        <div class="t-body">
            <img class="img-h" src="../assets/img-.PNG">
                <div class="txt-">
                  <span>X-Men</span>  
                    <p>A Mansão-x, nome abreviado para mansão Xavier, é a base 
                    de operações local de treinamento dos X-Men. Também usada como uma escola
                    para adolescentes mutantes. É também o quartel-general da corporação X.
                    A mansão foi herdada por Charles Xavier, tem estado em sua família há dez gerações,
                    foi o local de treinamento das duas primeiras gerações de X-men a primeiro "Os X-men originais"
                    e a segunda "Os novos mutantes originais". Recentemente perdemos o nosso querido professo, fundador e mantedor Xavier,
                    e estamos arrecadando fundos para manter a escola aberta.
                    </p>
                </div>
        </div>

<div class="all-form">
<div class="card m-3">
  <h5 class="card-header">Arrecadação de Fundos</h5>
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="form-group col-5">
                  <label class="font-">Primeiro Nome</label>
                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">Primeiro nome obrigatório</div>
                  </div>
              </div>
              <div class="form-group col-5">
                  <label class="font-">Segundo Nome</label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Segundo nome obrigatório</div>
                  </div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-">
                  <label class="font-">Email</label>
                  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                      <div *ngIf="f.email.errors.email">Email inválido</div>
                  </div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-">
                  <label class="font-">Valor</label>
                  <input type="number" formControlName="value" class="form-control"/>
              </div>
          </div>
          <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Aceito termo e condições</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Aceitar termo e condições obrigatório</div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Enviar</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
          </div>
      </form>
  </div>
</div>
</div>