.img-head{
    width: 140px;
    margin-top: 12px;
    margin-left: 860px;
    position: absolute;
}

.head{
    background: #202020;
    height: 80px;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}

.img-he{
    width: 100%;
}

.img-h{
    margin-left: 0px;
    margin-top: 100px;
    width: 100%;
    
}

.t-body{
    display: inline-block;
}

.txt-{
   position: absolute;
   display: inline;
   margin-top: 18rem;
   margin-left: 75px;
   width: 30rem ;

   span{
       font-size: 25px;
       font-weight: bold;
   }
}

.card-header{
    color: #fff;
}

.font-{
    color:#fff;
}

.card.m-3{
    width: 35%;
    margin-left: 145px !important;
   background: #202020;
}

.form-group.col-{
    width: 33rem;
}

.btn-primary{
    background-color: #ffbf00;
    border: none;
}

.btn.btn-primary.mr-1{
    border: none;
}

/*.all-form{
    margin-top: -16px;
    background: #202020;
}*/